@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 0.2rem;
  /* display: none; */
}

body::-webkit-scrollbar-thumb {
  background-color: #58000039;
  width: 0.1rem;
  border-radius: 1rem;
}

.my-navbar{
  height: 60px;
}

/* Setting up full height for row excluding Navbar */
.full-height-row {
  min-height: calc(100vh - 110px);
}


.landing-page{
  width: 100%;
  height: 100vh;
  background: url('landingPage.png') fixed center;
  background-size: cover;
}

.landing-wrapper .landing-title {
  font-size: 74px;
  text-transform: uppercase;
  font-family: 'Archivo Black', sans-serif;
  color: red;
}

.landing-wrapper .landing-qoute {
  text-transform: capitalize;
  font-family: 'Josefin Sans', sans-serif;
}

.landing-wrapper .landing-slogan::after{
  content: '';
  animation: cities  12s infinite linear;
  font-size: 26px;
  text-transform: uppercase;
  font-family: 'Archivo Black', sans-serif;
  color: rgba(255, 0, 0, 0.829);
}

@keyframes cities {
  0%{ content: 'Be the difference, donate blood';}
  10%{ content: 'Be a donor, be a lifeline.';}
  20%{ content: 'Give the gift of life – donate blood.';}
  30%{ content: 'Every drop counts: donate blood today.';}
  40%{ content: 'Be a blood donor, be a blessing.';}
  50%{ content: 'Share life: donate blood.';}
  60%{ content: 'Be a part of the cure – donate blood.';}
  70%{ content: 'Your blood, their hope: donate now.';}
  80%{ content: 'Be bold, be brave, donate blood.';}
  90%{ content: 'Be a lifesaver, be a blood donor.';}
  100%{ content: 'Donate blood, save lives: be a hero.';}
}

/* Sidebar */
.sidebar {
  background: rgb(0, 7, 61);
  color: white;
  height: 100vh;
}

.top_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
}

.logo {
  font-size: 18px;
  line-height: 0;
  margin-bottom: 0;
  justify-self: flex-start; 
}

.bars {
  font-size: 20px;
  width: 30px;
}

.hide {
  display: none;
}

.routes {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.link {
  font-size: 20px;
  text-decoration: none;
  display: flex;
  align-items: baseline;
  color: white;
  gap: 10px;
  padding: 6px 12px;
  border-right: 4px solid transparent;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.link:hover {
  border-right: 4px solid white;
  background: rgb(45, 51, 89);
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.routes .active {
  border-right: 4px solid white;
  background: rgb(45, 51, 89);
}

.link_text {
  white-space: nowrap;
  font-size: 18px;
}

.menu {
  display: flex;
  color: white;
  padding: 6px 24px 6px 12px;
  border-right: 4px solid transparent;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  justify-content: space-between;
  font-size: 18px;
}
.menu_item {
  display: flex;
  gap: 10px;
  align-items: flex-end;
}
.menu_container {
  display: flex;
  flex-direction: column;
}
.menu_container .link {
  padding-left: 20px;
  border-bottom: #fff 0.5px solid;
  font-size: 16px;
}

.user-info:hover {
  border-right: none;
  background: none;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

/* Media query for small screens */
@media (max-width: 490px) {
  .sidebar {
    position: absolute;
    z-index: 10;
  }
}


.patient-dash .img-container {
  position: relative;
}

.patient-dash .img-container .text-on-image {
  position: absolute;
  left: 65%;
  bottom: 24%;
  color: #fff;
  font-weight: bold;
  width: 150px;
}

.patient-dash .img-container .unit-count {
  font-size: 4rem;
  color: #000;
}

.donations-list {
  overflow-y: scroll;
  max-height: 280px;
}

.donations-list::-webkit-scrollbar {
  width: 0.2rem;
  /* display: none; */
}

.donations-list::-webkit-scrollbar-thumb {
  background-color: #58000039;
  width: 0.1rem;
  border-radius: 1rem;
}

.faq-container {
  overflow-y: scroll;
  max-height: 70vh;
}

.faq-container::-webkit-scrollbar {
  width: 0.2rem;
  /* display: none; */
}

.faq-container::-webkit-scrollbar-thumb {
  background-color: #58000039;
  width: 0.1rem;
  border-radius: 1rem;
}


.slide-container{
  /* max-width: 1120px; */
  width: 100%;
  padding: 40px 0;
}

.slide-content{
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}

.dev-card{
  border-radius: 25px !important;
  background-color: #FFF;
}

.image-content,
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
  height: 200px;
  justify-content: space-around;
}
.image-content{
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}
.overlay{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #4070F4;
  border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after{
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #4070F4;
}

.overlay::after{
  border-radius: 0 25px 0 0;
  background-color: #FFF;
}
.card-image{
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #FFF;
  padding: 3px;
}

.card-image .card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #4070F4;
}

.name{
  font-size: 18px;
  font-weight: 500;
  color: #333;
  flex: 0 0 auto;
}
.description{
  font-size: 14px;
  color: #707070;
  text-align: center;
  flex: 1; 
}

.button{
  border: none;
  font-size: 16px;
  color: #FFF;
  padding: 8px 16px;
  background-color: #4070F4;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
  flex: 0 0 auto;
}
.button:hover{
  background: #265DF2;
}
.swiper-pagination {
  position: unset !important;
}


/* live chat */
.livechat-container {
  border-radius: 5px;
  bottom: 50px;
  box-shadow: 5px 5px 13px rgba(91,81,81,.4);
  display: flex;
  justify-content: center;
  margin: 40px 0;
  position: fixed;
  right: 50px;
  z-index: 6;
}

.livechat-chat-container {
  position: relative;
  width: 300px;
}

.livechat-chat-inner-container {
  background-color: #fff;
  border-radius: 5px;
  height: 500px;
}

.livechat-chat-header {
  align-items: center;
  background-color: #efefef;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #514f4f;
  display: flex;
  font-family: Arial;
  font-size: .85rem;
  font-weight: 700;
  padding: 12.5px;
}

.livechat-chat-message-container {
  height: 424px;
  overflow: auto;
  padding: 0 17.5px 10px;
}

.livechat-chat-input-container {
  bottom: 0;
  display: flex;
  position: absolute;
  width: 100%;
}

.livechat-chat-input {
  display: flex;
  width: 100%;
}

.livechat-chat-input-form {
  border: none;
  border-bottom-left-radius: 5px;
  border-top: 1px solid #d8d8d8;
  font-size: .85rem;
  padding: 12.5px;
  width: 100%;
}

.livechat-chat-input-btn-send {
  background-color: #2898ec;
  border: none;
  border-bottom-right-radius: 5px;
  color: #fff;
  width: 100px;
}

.livechat-chat-btn-send-icon {
  fill: #fff;
  margin: 0 auto;
  width: 15px;
}

.livechat-chat-single-message-container {
  display: flex;
  justify-content: flex-start;
  margin: 15px 0;
}

.livechat-chat-avatar-container {
  align-items: center;
  background-color: #d8d8d8;
  border-radius: 50%;
  display: flex;
  font-size: 1.2rem;
  height: 40px;
  justify-content: center;
  margin-right: 12.5px;
  width: 40px;
}

.livechat-chat-avatar-letter {
  color: #1d1d1d;
  margin: 0;
  padding: 0;
}

.livechat-chat-single-message {
  background-color: #2898ec;
  border-radius: 5px;
  color: #fff;
  font-size: .9rem;
  font-weight: medium;
  margin-left: auto;
  padding: 10px;
  position: relative;
  text-align: left;
  width: 85%;
}

.livechat-chat-message-arrow {
  border-bottom: 8px solid transparent;
  border-right: 8px solid #2898ec;
  border-top: 8px solid transparent;
  height: 0;
  left: -7px;
  position: absolute;
  top: 13px;
  width: 0;
}



.livechat-button {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: none;
  background-color: #FFE53B;
  background-image: linear-gradient(147deg, #FFE53B, #FF2525,#FFE53B);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.164);
  background-size: 300%;
  background-position: left;
  transition-duration: 1s;
  bottom: 25px;
  position: fixed;
  right: 40px;
  z-index: 6;
}
.livechat-button:hover {
  background-position: right;
  transition-duration: 1s;
  scale: 1.1;
}


/* admin chat */
.admin-chat-wrapper {
  height: 80vh;
}
.admin-potential-chats-wrapper {
  border: 2px solid blue;
  background-color: #FBFBFB;
}

.admin-chat-user-list-wrapper {
  border: 2px solid blue;
  background-color: #FBFBFB;
}

.admin-chat-message-container-wrapper {
  border: 2px solid blue;
  background-color: #FBFBFB;
}

.chat-user-card{
  border-bottom: 2px solid blue;
}

.chat-text-content {

}

.all-users {

}

.single-user {
  cursor: pointer;
  padding: 5px 7px;
  margin-right: 0.5rem;
  position: relative;
  border-bottom: 2px solid blue;
}

.live-chat-overflow {
  height: 80vh;
  overflow-y: auto;
}

.chat-audit-info {
  position: relative;
}

.user-online {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: rgb(0, 219, 0);
  position: absolute;
  top: -8px;
  right: -15px;
}

.single-user .user-online {
  top: 11px;
  right: 20px;
}

.this-user-notifications {
  display: flex;
  background: #00bd9b;
  height: 20px;
  width: 20px;
  font-size: 12px;
  font-weight: 700;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.live-chat-send-btn{
  border: none;
  background: rgba(72, 112, 223, 1);
  color: white;
  height: 40px;
  width: 55px;
  border-radius: 30%;
  font-size: larger;
}


.border-test {
  border: 2px solid red;
}
.border-test1 {
  border: 2px solid green;
}
.border-test2 {
  border: 2px solid blue;
}